.login-profile-message{
    color: rgb(255, 237, 204);
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    width: 800px;
    margin-left: 350px;
}

.profile-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.edit-item-name{
    width: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
    border: none;
    border-radius: 5px;
    height: 20px;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    margin-top: 10px;
}

.edit-description{
    height: 200px;
    width: 300px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
    border: none;
    border-radius: 5px;
}

.delete-post{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
    background: linear-gradient(right top, silver, white, rgb(204, 204, 204), white);
    border-radius: 5px;
    width: 80px;
    font-size: 14px;
    font-family: 'Lobster', cursive;
    margin-right: 2px;
}

.edit-post{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
    background: linear-gradient(right top, silver, white, rgb(204, 204, 204), white);
    border-radius: 5px;
    width: 80px;
    font-size: 14px;
    font-family: 'Lobster', cursive;
    margin-left: 2px;
}

.edit-price{
    width: 295px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
    border: none;
    border-radius: 5px;
    height: 20px;
    font-family: 'Lobster', cursive;
    font-size: 15px;
}

@media (max-width: 600px) {
    .login-profile-message{
        color: rgb(255, 237, 204);
        font-family: 'Lobster', cursive;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        font-size: 50px;
        width: 350px;
        margin: auto
    }
}