
.login-register{
    font-family: 'Lobster', cursive;
    color: rgb(255, 237, 204);
    font-size: 80px;
    position: relative;
    bottom: 30%;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.login{
    border-radius: 5px;
    width: 70px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(24, 24, 24, 0.788);
    background: linear-gradient(right, silver, white, silver, white);
    font-family: 'Lobster', cursive;
}

.register{
    border-radius: 5px;
    font-size: 17px;
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(24, 24, 24, 0.788);
    background: linear-gradient(right, silver, white, silver, white);
    font-family: 'Lobster', cursive;
}

.logout{
    margin-left: 10px;
    cursor: pointer;
    width: 70px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(24, 24, 24, 0.788);
    background: linear-gradient(right, silver, white, silver, white);
    font-family: 'Lobster', cursive;
}

.back-to-homepage{
    margin-left: 20px;
}

.welcome-back{
    margin-left: 20px;
    color: rgb(255, 237, 204);
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.signup-login{
    margin-left: 10px;
}

.login-input{
    margin-left: 20px;
}

.login-input > input{
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(24, 24, 24, 0.856);
}

.login-link{
    margin-left: 20px;
}

.login-sign{
    margin-left: 20px;
    color: rgb(255, 237, 204);
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.register-sign{
    margin-left: 20px;
    color: rgb(255, 237, 204);
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.signup-input{
    margin-left: 20px;
}

.signup-input > input{
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(24, 24, 24, 0.856);
}

@media (max-width: 600px) {
    .login-register{
        font-family: 'Lobster', cursive;
        color: rgb(255, 237, 204);
        font-size:60px;
        position: relative;
        bottom: 30%;
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
    }

    .login-sign{
        margin-left: 20px;
        color: rgb(255, 237, 204);
        font-family: 'Lobster', cursive;
        font-size: 30px;
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
    }
    
    .login-input{
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
    }
    
    .login-input > input{
        border-radius: 5px;
        box-shadow: 1px 1px 7px rgba(24, 24, 24, 0.856);
        margin-top: 10px;
        margin-bottom: 10px;
        height: 18px;
    }

    .register-sign{
        margin-left: 20px;
        color: rgb(255, 237, 204);
        font-family: 'Lobster', cursive;
        font-size: 30px;
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
    }

    .signup-input{
        margin-left: 110px;
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }

    .signup-input > input{
        border-radius: 5px;
        box-shadow: 1px 1px 7px rgba(24, 24, 24, 0.856);
        margin-top: 10px;
        margin-bottom: 10px;
        height: 18px;
    }
}